*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3
}
header {
    height: 70px;
}
.title{
    display: block;
    margin: 0 auto;
    width: fit-content;
}
.title h1{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content
}
nav ul li {
    display: inline-block;
    padding: 0 16px,

}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 16px;
    display: block;
    text-decoration: underline;
}

.heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px

}
article p{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px; 
    line-height: 1;
    margin-top: 8px;
    margin-left: 10px;
    
}
.share-msg{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px
}
.share-btn{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;  
}
i{
    margin-top: 10px;
    margin-left: 10px

}
.comment-area{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: #f3f3f3 solid 4px;
}
.comment-btn{  
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.comment-btn:hover{
    cursor: pointer;
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#sidebar {
    display: none;
}
#sidebar h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;

}
#sidebar li{
    margin-top: 10px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: capitalize;
}
@media screen and (min-width: 768px) {
    .title{
        float: left;
        margin-top: 20px;
        margin-left: 10px
    }
    nav{
        float: right;
        margin-right: 10px;
        
    
    }
    nav ul li a{
        margin-top: 5px;
        font-size: 25px;
        padding: 20px 10px
    }
    .heading{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 8px
    
    }
    article p{
        font-size: 20px;
    }
    .share-msg{
        font-size: 25px;
        margin-top: 10px
    }
    .share-btn{
        font-size: 25px; 
    }
    i{
        margin-top: 15px;
        font-size: 20px
    
    }
    .comment-area{
        font-size: 26px;
        
    }
    .comment-btn{  
        background-color: brown; 
        font-size: 25px
    }
    #sidebar h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight:bold;
        text-decoration: underline;
  
    }
    #sidebar li{
        margin-top: 10px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-transform: capitalize;
    }
    
  }
  @media screen and (min-width: 1024px) {
    .title{
        float: left;
        margin-top: 20px;
        margin-left: 40px;
        font-size: 25px
    }
    nav{
        float: right;
        margin-right: 10px;
        
    
    }
    nav ul li a{
        margin-top: 5px;
        font-size: 30px;
        padding: 20px 10px
    }
    .heading{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        font-size: 40px
    
    }
    article p{
        font-size: 20px;
        text-align: center
    }
    .share-msg{
        font-size: 30px;
        margin-top: 10px
    }
    .share-btn{
        font-size: 35px; 
    }
    .share-btn:hover{
        cursor: pointer;
        background: #4CAF50;
    }
    i{
        margin-top: 25px;
        font-size: 30px
    
    }
    .comment-area{
        font-size: 36px;
        
    }
    .comment-btn{  
        background-color: brown; 
        font-size: 45px
    }
    .comment-btn:hover{
        cursor: pointer;
        background: #4CAF50
    }
    
  }
  @media screen and (min-width: 1600px) {
    .title{
        float: left;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 45px
    }
    nav{
        float: right;
        margin-right: 10px;
        
    
    }
    nav ul li a{
        margin-top: 5px;
        font-size: 45px;
        padding: 20px 10px
    }
    .heading{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 8px
    
    }
    article p{
        font-size: 20px;
    }
    .share-msg{
        font-size: 25px;
        margin-top: 10px
    }
    .share-btn{
        font-size: 25px; 
    }
    i{
        margin-top: 15px;
        font-size: 20px
    
    }
    .comment-area{
        font-size: 26px;
        
    }
    .comment-btn{  
        background-color: brown; 
        font-size: 25px
    }
    
  }
  #sidebar{
      float: right;
      width: 30%;
      margin-top: -310px

  }
  #sidebar h2{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight:bold;
      text-decoration: underline;

  }
  #sidebar li{
      margin-top: 10px;
      line-height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      text-transform: capitalize;
  }
  .article-cols{
      float: left;
      width: 65%;
  }